#main {
	width: 200px;
}
.box {
	width: 100px;
	height: 100px;
	display: inline-block;
	padding: 20px;
}
#up {
	background: pink;
	box-sizing: content-box;
}
#down {
	background: lemonchiffon;
	box-sizing: border-box;
}